/* title 1 */
.e_t-1 {
  font-size: 60;
  line-height: 72;
  font-weight: bold;
}
/* title 2 */
.e_t-2 {
  font-size: 48;
  line-height: 56;
  font-weight: bold;
}
/* title 3 */
.e_t-3 {
  font-size: 34;
  line-height: 40;
  font-weight: extrabold;
}
/* Headline */
.e_Hl {
  font-size: 24;
  line-height: 32;
  /* Extra bold */
  font-weight: bolder;
}
/* sub Headline */
.e_sHl {
  font-size: 18;
  line-height: 32;
  font-weight: bold;
}
/* body */
.e_b {
  font-size: 16;
  line-height: 24;
  font-weight: normal;
}
/* body Bold */
.e_b-B {
  font-size: 16;
  line-height: 24;
  font-weight: bold;
}
/* body Small */
.e_b-S {
  font-size: 14;
  line-height: 24;
  font-weight: normal;
}
/* body Small Bold */
.e_b-S-B {
  font-size: 14;
  line-height: 24;
  font-weight: bold;
}
/* caption */
.e_c {
  font-size: 12;
  line-height: 16;
  /* Semi Bold */
  font-weight: lighter;
}