

.pageContainer {

  display: flex;

}



.content {

  flex: 1;

}



.formWrapper {

  flex: 1;

  display: flex;

  justify-content: flex-end;

  padding: 20px;

}



.formContainer {

  width: 300px;

  background-color: #f2f2f2;

  padding: 20px;

  border: 1px solid #ccc;

  border-radius: 4px;

}



.formContainer h1 {

  margin-top: 0;

}



/* Additional styling for form fields */

.formContainer input[type="text"],

.formContainer input[type="date"],

.formContainer button {

  width: 100%;

  margin-bottom: 10px;

}
